@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";

@font-size-0: 1.8dvh;
@font-size-1: 2dvh;
@font-size-2: 2.2dvh;
@font-size-3: 2.4dvh;
@font-size-4: 2.6dvh;

.gh-panel {
  display: flex;
  margin: 1%;
  padding: 1%;
  box-shadow: #aaaaaaaa 0 0 4px 4px;
  background-color: white;
}

.gh-panel-big {
  margin: 0.5%;
  padding: 1%;
  box-shadow: #aaaaaaaa 0 0 4px 4px;
  background-color: white;
  height: 98%;
}

body {
  background-size: cover;
  background-position: center;
  user-select: none !important;
  margin: 0;
  font-size: @font-size-1;
}

#root {
  background-color: #d6e5f8;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
}

.gh-container {
  display: flex;
  width: 99%;
  height: 99%;
  margin: 1dvh 1dvw;
  justify-content: space-between;
  align-items: flex-start;

  .toast {
    font-size: @font-size-2;

    .p-toast-message {
      backdrop-filter: none;
      background-color: white;
      border: 1px solid black;
    }

    .p-toast-message-content {
      box-shadow: 0px 0px 20px 1px black;
    }
  }
}

.gh-control {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;

  .gh-orders {
    flex: 4;
    display: flex;
    width: 40%;
    overflow-y: scroll;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    &:extend(.gh-panel-big);

    .order {
      width: 100%;
      height: 25%;
      margin: 1%;
      font-size: @font-size-4;
      gap: 10px;
      &:extend(.gh-panel);
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .gh-neworder {
    flex: 6;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: stretch;
    &:extend(.gh-panel-big);

    .result {
      flex: 2;
      padding: 2%;
      margin: 2%;
      background-color: white;
      box-shadow: #aaaaaaaa 0 0 4px 4px;
      font-size: @font-size-4;
      overflow-y: scroll;
    }

    .gh-products {
      flex: 5;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      overflow-y: scroll;
      height: 55%;
      font-size: @font-size-3;
      align-items: stretch;
      align-content: stretch;

      ::-webkit-scrollbar {
        width: 10px;
      }

      .product {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 25dvh;
        min-height: 10dvh;
        font-size: @font-size-3;
        &:extend(.gh-panel);
      }
    }

    .customer {
      flex: 1;
      display: flex;
      gap: 5px;
      &:extend(.gh-panel);
      font-size: @font-size-3;
      align-items: center;
      justify-content: center;

      .info {
        display: flex;
        align-items: center;
      }

      .input {
        gap: 10px;

        input {
          font-size: @font-size-3;
          padding: 5px;
        }
      }
    }

    .finish {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .p-button-label {
        font-size: @font-size-4;
      }
    }
  }
}

.gh-messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: flex-start;
  align-content: flex-start;
  width: 20%;
  &:extend(.gh-panel-big);

  .list {
    display: flex;
    flex-direction: column;
    height: 80%;

    .message {
      width: 96%;
      max-height: 10%;
      &:extend(.gh-panel);
    }
  }

  .gh-status {
    height: 20%;
    &:extend(.gh-panel);
  }
}

