@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";

@font-size-0: 1.8dvh;
@font-size-1: 2dvh;
@font-size-2: 2.2dvh;
@font-size-3: 2.4dvh;
@font-size-4: 2.6dvh;

body {
  background-image: url("img2.svg");
  background-size: cover;
  background-position: center;
  user-select: none !important;
  margin: 0;
  font-family: "Intro", serif;
}

@font-face {
  font-family: 'Intro';
  src: url('intro-regular.woff2') format('woff2');
}

.p-component{
  font-family: "Intro", serif;
}

#root {
  backdrop-filter: blur(10px);
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
}

.aweh {
  border-radius: 3dvh;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: rgba(128, 128, 128, 0.4) 0 0 7px 1px, rgba(100, 100, 100, 0.4) 7px 7px 7px 1px, inset rgba(100, 100, 100, 0.4) 0 0 2px 0;
}

.gh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  height: 99%;
  margin: 0 2dvw;
  max-width: 60dvh;

  .toast {
    font-size: @font-size-2;

    .p-toast-message {
      backdrop-filter: none;
      background-color: white;
      border: 1px solid black;
    }

    .p-toast-message-content {
      box-shadow: 0px 0px 20px 1px black;
    }
  }
}

.gh-bar {
  display: flex;
  width: 100%;
  height: 15dvh;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-size: @font-size-3;

  img {
    width: 80px;
  }
}

.gh-toppart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10dvh;
  gap: 5px;
}

.gh-trail {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 10dvh;
  flex-shrink: 0;

  .but {
    width: calc(33% - 5px);
    height: 100%;
    &:extend(.aweh);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    font-size: @font-size-2;

    .txt {
      width: 80%;
      word-break: break-word;
    }

    .icon {
      cursor: pointer;
      font-size: @font-size-0;
      opacity: 25%;
    }
  }

  .but-msg {
    justify-content: center;
  }
}

.gh-select-long {
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 20px 1px, rgba(0, 0, 0, 0.1) 0px 0px 4px 2px;
}

.gh-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 20px 40px;
  border-radius: 3dvh;
  margin: 20px 0px;

  .btn-branch {
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    width: 100%;
    min-height: 23dvh;
    &:extend(.aweh);
    padding: 5px 30px;
    animation: fadein .1s linear;
    gap: 25px;
    border: none;
    //box-shadow: rgb(200 200 200) 0px 0px 7px 1px, rgb(83 83 83) 7px 7px 7px 1px, inset rgb(83 83 83) 0px 0px 3px 0px;
    flex-shrink: 0;

    .img {
      width: 14dvh;
      height: 14dvh;
      flex-shrink: 0;
      border-radius: 20px;
    }

    .desc {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px;

      .name {
        font-size: @font-size-4;
      }

      .text {
        font-size: @font-size-1;
      }
    }
  }
}

.gh-checkout {
  display: flex;
  width: 100%;
  height: 15dvh;
  background-color: white;
  font-size: @font-size-2;
  &:extend(.aweh);
  justify-content: space-between;
  background-image: url("13570609_Tropical_green_leaves_in_watercolor_background.jpg");
  background-position: center;
  background-size: cover;
  flex-shrink: 0;

  .content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 75%;

    .item {
      display: flex;
      flex-direction: column;
      width: 42%;
      align-items: center;
      font-size: @font-size-2;
      &:extend(.aweh);
      padding: 5px;
      justify-content: center;
      box-shadow: #89a692 0 0 7px, inset rgb(180 216 191 / 60%) 0 0 3px;
      text-align: center;
      word-break: break-word;
      flex-shrink: 0;

      .price {
        font-size: @font-size-0;
      }
    }

    .more {
      width: 15%;
    }
  }

  .but {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: @font-size-4;
    padding: 10px;

    .icon {
      font-size: @font-size-3;
    }
  }
}

.gh-checkout-dialog {
  width: 80dvw;
  max-width: 60dvh;
  height: 75dvh;
  font-size: @font-size-3;
  background-image: url("13570609_Tropical_green_leaves_in_watercolor_background.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 18px 20px rgba(0, 0, 0, 0.5);

  .p-dialog-title {
    font-size: @font-size-4;
  }

  .p-dialog-content, .p-dialog-header {
    background-color: unset;
  }

  .p-dialog-header-icon {
    width: 60px;
    height: 60px;

    svg {
      width: 60px;
      height: 60px;
    }
  }

  .content {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;

    .items {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 80%;
      overflow-y: scroll;
      scrollbar-width: none;
      padding: 20px;

      .item {
        width: 100%;
        min-height: 10dvh;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:extend(.aweh);
        .icon{
          font-size:@font-size-4;
        }

        .right {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    .footer {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:extend(.aweh);
    }
  }
}